doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/styleCategory.css")
    link(rel="stylesheet", href="/stylesheets/headerAndSection.css")
    link(rel="stylesheet", href="/stylesheets/styleItem.css")
    link(rel='stylesheet', href='/stylesheets/styleCategories.css')
    link(rel="stylesheet", href="/stylesheets/styleForm.css")
    link(rel="stylesheet", href="/stylesheets/styleDelete.css")
  body
    header 
      img.logo-svg(src="/images/vscode.svg", alt="logo")
      nav 
        ul.list-ul 
          li 
            button
              a.link(href='/') Home 
          li 
            button
              a.link(href='/home/categories') Categories
          li 
            button
              a.link(href='/home/items') All Shop 
          li 
            button
              a.link(href='') About me         
    block content

    footer 
      .box-footer 
        h1.title-footer Contact me 
        span.text-footer Obsecro ut contingas si putas opera tua prodesse posse mutuo! #[br] Arequipa, Arequipa, Peru.
        span.contact-footer 
          img.icoContact(src="", alt="")
          |  +51 935761921
        span.contact-footer 
          img.icoContact(src="", alt="")
          |  ynoacamino@gmail.com
        .boxLinkImg 
          a.underline(href="https://github.com/Diegoo11") 
            img.linkImg(src="/images/github.png", alt="GitHub")
          a.underline(href="https://www.facebook.com/yenaro.noacamino.56") 
            img.linkImg(src="/images/facebook.png", alt="Facebook")
          a.underline(href="https://github.com/Diegoo11") 
            img.linkImg(src="/images/github.png", alt="GitHub")