extends layout

block content

  section.section-perfil 
    img.perfil(src="/images/fondo-main.jpg", alt="perfil")
    article.article-perfil 
      h1.article-h1 
        span.underline About Me 
      span.article-span Perseverantia est quae te consequi metas faciet. Diegoo11 discipulus universitatis sum, XVI annos natus sum et incoeptum interretialem evolutionem amabam ac iocum paulo post deprehendi hoc esse quod amavi et id quod cupio me dedicare. Sum "Full Stack JavaScript" elit et "Frontend" elit.
      .boxLinkImg 
        a.underline(href="https://github.com/Diegoo11") 
          img.linkImg(src="/images/github.png", alt="GitHub")
        a.underline(href="https://www.facebook.com/yenaro.noacamino.56") 
          img.linkImg(src="/images/facebook.png", alt="Facebook")
        a.underline(href="https://github.com/Diegoo11") 
          img.linkImg(src="/images/github.png", alt="GitHub")
  
  