<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styleCategories.css">
  <link rel="stylesheet" href="styleCategory.css">
</head>
<body>
  <aside>
    <article class="category">
      <a href="" class="linkCategory">
        <img class="imgCategory" src="https://cdn.discordapp.com/attachments/772232222220615710/968212373347389501/pexels-pixabay-258154.jpg" alt="">
        <span class="dentro">HOTEL</span>
      </a>
      <div class="boxSpanCategory">
        <span class="spanCategory">
          We will learn about creating users with secure passwords in a later lesson, but for now we don’t want just anyone to be able to delete and edit items in our inventory! Figure out how to protect destructive actions (like deleting and updating) by making users enter a secret admin password to confirm the action.
        </span>
      </div>
    </article>
  </aside>
  <aside class="items">
    <article class="item">
      <div class="boxImg"><img class="imgItem" src="https://cdn.discordapp.com/attachments/772232222220615710/968212373347389501/pexels-pixabay-258154.jpg" alt=""></div>
      <div class="boxPrecio">
        <span>S./ 400</span>
        <a class="linkItem" href="">Control Xbox para PlayStation</a>
      </div>
    </article>
  
  </aside>
  <img src="https://i.linio.com/p/3b7d78776a8c545bbd921bd439a18c13-product.webp" alt="">
</body>
</html>